<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.wechat.mapper.WxCoverMapper">

	<resultMap id="wxCoverResultMap" type="com.glaf.wechat.domain.WxCover">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="accountId" column="ACCOUNTID_" jdbcType="BIGINT" />
		<result property="bigIcon" column="BIGICON_" jdbcType="VARCHAR" />
		<result property="smallIcon" column="SMALLICON_" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="lastUpdateDate" column="LASTUPDATEDATE_"
			jdbcType="TIMESTAMP" />
		<result property="lastUpdateBy" column="LASTUPDATEBY_"
			jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertWxCover" parameterType="com.glaf.wechat.domain.WxCover">
		insert into WX_COVER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="accountId != null">
				,ACCOUNTID_
			</if>
			<if test="bigIcon != null">
				,BIGICON_
			</if>
			<if test="smallIcon != null">
				,SMALLICON_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}
			<if test="accountId != null">
				,#{accountId, jdbcType=BIGINT}
			</if>
			<if test="bigIcon != null">
				,#{bigIcon, jdbcType=VARCHAR}
			</if>
			<if test="smallIcon != null">
				,#{smallIcon, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<update id="updateWxCover" parameterType="com.glaf.wechat.domain.WxCover">
		update WX_COVER
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bigIcon != null">
				BIGICON_ = #{bigIcon, jdbcType=VARCHAR},
			</if>
			<if test="smallIcon != null">
				SMALLICON_ = #{smallIcon, jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				LASTUPDATEDATE_ = #{lastUpdateDate, jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateBy != null">
				LASTUPDATEBY_ = #{lastUpdateBy, jdbcType=VARCHAR},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteWxCoverById" parameterType="long">
		delete from WX_COVER
		where ID_ = #{id}
	</delete>


	<delete id="deleteWxCovers" parameterType="com.glaf.wechat.query.WxCoverQuery">
		delete from WX_COVER
		where (
		ID_ IN
		<foreach item="x_id" index="index" collection="ids" open="("
			separator="," close=")">
			#{x_id}
		</foreach>
		)
	</delete>


	<select id="getWxCoverById" parameterType="long" resultMap="wxCoverResultMap">
		select * from WX_COVER where ID_ = #{id}
	</select>


	<select id="getWxCovers" parameterType="com.glaf.wechat.query.WxCoverQuery"
		resultMap="wxCoverResultMap">
		select distinct E.*
		<include refid="selectWxCoversSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getWxCoverCount" parameterType="com.glaf.wechat.query.WxCoverQuery"
		resultType="int">
		select count(*)
		<include refid="selectWxCoversSql" />
	</select>


	<sql id="selectWxCoversSql">

		from WX_COVER E

		<where>
			1 = 1

			<if test="accountId != null">
				and E.ACCOUNTID_ = #{accountId}
            </if>

			<if test="accountIds != null and accountIds.size !=0">
			    and E.ACCOUNTID_ IN
                <foreach item="x_accountId" index="index" collection="accountIds" 
                     open="(" separator="," close=")">
                  #{x_accountId}
                </foreach>
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createDateGreaterThanOrEqual != null">
				and E.CREATEDATE_ &gt;= #{createDateGreaterThanOrEqual}
			</if>

			<if test="createDateLessThanOrEqual != null">
				and E.CREATEDATE_ &lt;= #{createDateLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>