<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.wechat.mapper.WxMessageMapper">

	<resultMap id="wxMessageResultMap" type="com.glaf.wechat.domain.WxMessage">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="accountId" column="ACCOUNTID" jdbcType="BIGINT" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="mobile" column="MOBILE_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="content" column="CONTENT_" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE_" jdbcType="TIMESTAMP" />
		<result property="lastUpdateDate" column="LASTUPDATEDATE_"
			jdbcType="TIMESTAMP" />
		<result property="lastUpdateBy" column="LASTUPDATEBY_"
			jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertWxMessage" parameterType="com.glaf.wechat.domain.WxMessage">
		insert into WX_MESSAGE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="accountId != null">
				,ACCOUNTID
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="mobile != null">
				,MOBILE_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="content != null">
				,CONTENT_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createDate != null">
				,CREATEDATE_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}
			<if test="accountId != null">
				,#{accountId, jdbcType=BIGINT}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="mobile != null">
				,#{mobile, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="content != null">
				,#{content, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<update id="updateWxMessage" parameterType="com.glaf.wechat.domain.WxMessage">
		update WX_MESSAGE
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				MOBILE_ = #{mobile, jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				TITLE_ = #{title, jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				CONTENT_ = #{content, jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				LASTUPDATEDATE_ = #{lastUpdateDate, jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateBy != null">
				LASTUPDATEBY_ = #{lastUpdateBy, jdbcType=VARCHAR},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteWxMessageById" parameterType="long">
		delete from
		WX_MESSAGE
		where ID_ = #{id}
	</delete>


	<delete id="deleteWxMessages" parameterType="com.glaf.wechat.query.WxMessageQuery">
		delete from WX_MESSAGE
		where (
		ID_ IN
		<foreach item="x_id" index="index" collection="ids" open="("
			separator="," close=")">
			#{x_id}
		</foreach>
		)
	</delete>


	<select id="getWxMessageById" parameterType="long" resultMap="wxMessageResultMap">
		select * from WX_MESSAGE where ID_ = #{id}
	</select>

	<select id="getWxMessages" parameterType="com.glaf.wechat.query.WxMessageQuery"
		resultMap="wxMessageResultMap">
		select distinct E.*
		<include refid="selectWxMessagesSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getWxMessageCount" parameterType="com.glaf.wechat.query.WxMessageQuery"
		resultType="int">
		select count(*)
		<include refid="selectWxMessagesSql" />
	</select>


	<sql id="selectWxMessagesSql">

		from WX_MESSAGE E

		<where>
			1 = 1

			<if test="accountId != null">
				and E.ACCOUNTID = #{accountId}
            </if>

			<if test="accountIds != null and accountIds.size !=0">
			    and E.ACCOUNTID IN
                <foreach item="x_accountId" index="index" collection="accountIds" 
                     open="(" separator="," close=")">
                  #{x_accountId}
                </foreach>
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="names != null and names.size !=0">
				and E.NAME_ IN
				<foreach item="x_name" index="index" collection="names"
					open="(" separator="," close=")">
					#{x_name}
				</foreach>
			</if>

			<if test="mobile != null and mobile != '' ">
				and E.MOBILE_ = #{mobile}
			</if>

			<if test="mobileLike != null and mobileLike != '' ">
				and E.MOBILE_ like #{mobileLike}
			</if>

			<if test="titleLike != null and titleLike != '' ">
				and E.TITLE_ like #{titleLike}
			</if>

			<if test="contentLike != null and contentLike != '' ">
				and E.CONTENT_ like #{contentLike}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createDateGreaterThanOrEqual != null">
				and E.CREATEDATE_ &gt;= #{createDateGreaterThanOrEqual}
			</if>

			<if test="createDateLessThanOrEqual != null">
				and E.CREATEDATE_ &lt;= #{createDateLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>